* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 1em;
  font-family: 'Dosis', sans-serif
}
@media (min-width: 25em) { /* 400px */
  html {
    font-size: calc(1rem + (1.6 - 1) * (100vw - 25em) / (100 - 25));
  }
}
@media (min-width: 100em) { /* 1600px */
  html {
    font-size: 1.6rem;
  }

}
body {
  background: #F2F3F4;
  line-height: 1.5;
}
.canvas {
  max-width: 1599px;
  margin: auto;
}

.size-h1 {
  font-size: 1.3rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h1 {
    font-size: calc(1.3rem + (3 - 1.3) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h1 {
    font-size: 3rem;
  }
}

.size-h2 {
  font-size: 1.2rem;
}
@media (min-width: 25em) { /* 400px */
  .size-h2 {
    font-size: calc(1.2rem + (2 - 1.2) * (100vw - 25em) / (100 - 25));

  }
}
@media (min-width: 100em) { /* 1600px */
  .size-h2 {
    font-size: 2rem;
  }
}

/*Styling general*/

.centered {
  text-align: center;
}
.suscribe {
  background: #AFBFD5;
  border: none;
  font-family: 'Sansita', sans-serif;
  border-radius: 10% / 50%;
  color: #333536;
  cursor: pointer;
}
.suscribe:hover {
  box-shadow: 0 0 4px 4px #AFBFD5;
}

ul li {
  list-style: none;
}
a:link {
  text-decoration: none;
  color: lavender;
}
a:visited {
  color: lavender;
}
a:hover {
  color: #DCDEDF;
}

/*Styling container and element*/

.grid-container, 
.grid-element,
.grid-content {
 padding: 0.5rem;
} 
.content-element,
.content-content {
 padding: 0.5rem;
}
button.content-content {
  padding: 0.7rem;
}
.content-container {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*Styling the header*/

.header {
  background-image: linear-gradient(
    #62A9BE,
    #74A2BF,
    #7291B3,
    #6E7AA3);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}
.header .size-h1 {
  font-family: 'Luckiest Guy', cursive;
  background-image: linear-gradient(180deg,
   /* #E6E6FA 20%,
    #F5E1ED,
    #E6E6FA 80%*/
   #8e9eab,
   #ffffff,
  #eef2f3
    );
  -webkit-background-clip: text;
  color: transparent;
}
@media (min-width: 40.75em) {
  .header {
    justify-content: space-between;
  }
}
.information-link {
  display: flex;
  align-items: baseline;
  text-shadow: 2px 1px 1px #6E7AA3;
  color: lavender;
  font-family: 'Sansita', sans-serif;
}
.information-link>div:first-child {
  margin-right: 0.5rem;
}
@media (min-width: 61.5em) {
  .information-link>div:first-child {
    margin-right: calc(0.5rem + (2 - 0.5) * (100vw - 61.5em) / (100 - 61.5));
  }

}
@media (min-width: 100em) {
  .information-link>div:first-child {
    margin-right: 2rem;
  }

}

/*Styling main division*/

.main-division  {
  overflow: hidden;
  margin: auto;
  text-align: left;
}
.main-division p {
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
}
.main-division .size-h1,
.main-division .size-h2 {
  max-width: 24em;
  text-align: center;
}
.main-division ul,
.main-division ol {
  max-width: 25em;
  margin-left: 2rem;
}
.main-division li {
  margin-bottom: 0.5rem;
}
@media (min-width: 32.75em) {
  .main-division ul,
  .main-division ol {
  max-width: 25em;
  margin-right: auto;
  margin-left: auto;
 }
}

/*Styling main-division1*/

.main-division1 {
  background-image: url("images/libros-web1.jpg");
  background-size: cover;
  background-position: top;
  background-origin: border-box;
  background-clip: border-box;
  text-align: center;
  color: lavender;
  text-shadow: 2px 2px 1px #333536;
}
.main-division1>div {
  margin: auto;
}
.main-division1 .size-h1 {
  font-family: 'Sansita', sans-serif;
}
.main-division1 form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.main-division1 input {
  outline: none;
  border: none;
  width: 20rem;
  text-align: center;
  max-width: 100%;
}
.main-division1 input:hover {
  box-shadow: 0 0 4px 4px white;
}
/*.main-division1 p,
.main-division1 .size-h2 {
  color: #333536;
}*/

/*Styling main-division2*/


/*Styling main-division3*/

.main-division3  .main-division-text {
  background-image: linear-gradient(
    #62A9BE,
    #74A2BF,
    #7291B3,
    #6E7AA3);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lavender;
}
.main-division3 .countdown {
  display: flex;
  font-family: 'Sansita', sans-serif;
}
.main-division3 .countdown .number {
  border-radius: 50% / 50%;
  border: 4px solid #62A9BE;
}

/*Styling main-division4*/

.main-division4 ul li:before {
  content: "● ";
}

/*Styling main-division5*/

.main-division5 {
  background-image: url("images/magic-web1.jpg");
  background-size: cover;
  color: lavender;
  text-shadow: 2px 2px 1px #333536;

}
.main-division5 .size-h2 {
 font-family: 'Sansita', sans-serif;
}
.main-division5 ul li:before {
  content: "→ ";
}

/*Styling main-division6*/

.main-division6 {
  background: #ECEDF7;
}
.main-division6 p:first-child {
  font-family: 'Sansita', sans-serif;
}


/*Styling main-division7*/

.main-division7 {
  background-image: linear-gradient(
    #62A9BE,
    #74A2BF,
    #7291B3,
    #6E7AA3);
  color: lavender;
  text-shadow: 2px 2px 1px #333536;
  font-family: 'Sansita', sans-serif;
}
.main-division7 button {
  display: block;
  margin: auto;
}

/*Styling main-division8*/

.main-division8 .size-h2 {
  font-family: 'Sansita', sans-serif;
}
.main-division8 .bullet-list li:before {
  content: "□ "
}
.main-division8 button {
  display: block;
  margin: auto;
}




/*Styling footer*/

.footer {
 background-image: linear-gradient(
  #62A9BE,
  #74A2BF,
  #7291B3,
  #6E7AA3);
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 color: #AFBFD5;
 text-shadow: 2px 2px 1px #333536;
}

.footer .motto {
  font-family: 'Luckiest Guy', cursive;

}
















